/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.traffic {
  background: black;
  padding: 10px;
  width: 70px;
  margin: 40px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.light {
  -ms-flex-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.red {
  background: red;
}
.yellow {
  background: gold;
}
.green {
  background: limegreen;
}

.click {
  opacity: 1;
  box-shadow: 0 0 20px 6px rgba(255, 255, 255, 0.4);
}

.button {
  display: block;
  margin: 20px auto;
}
